header h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color:khaki;
    text-align: center;
    background-image: url("Images/1.jpg");
}
article h2{
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color:white;
}
a {
    font-family: Helvetica;
    font-weight: bold;
    color:blue;
}
.brushes h2 {
    background-color:mediumspringgreen;
}
.frames h2 {
    background-color: lightcoral;
}
.paint h2 {
    background-color: skyblue;
}

figcaption {font-weight: bold;
font-size:25px;}


p{
    font-size:20px
}
body {
    background-image: url("Images/6.jpg");
    
}